<!-- 
<h1>Hello World - angular!</h1>
<div class="aula">
  <app-primeiro-componente></app-primeiro-componente>
  </div>
<div class="aula">
  <app-dados-pai [nome]="userName"></app-dados-pai>
</div>
<div class="aula">
  <app-diretivas></app-diretivas>
</div>
<div class="aula">
  <app-if-render></app-if-render>
</div>
<div class="aula">
  <app-eventos></app-eventos>
</div>
<div class="aula">
  <app-emitter></app-emitter>
</div>
<div class="aula">
  <app-list-render></app-list-render>
</div>
<div class="aula">
  <app-pipes></app-pipes>
</div>
<div class="aula">
  <app-two-way-binding></app-two-way-binding>
</div> -->

<nav>
  <h1>Curso Angular</h1>
  <ul>
    <li><a routerLink="/">Home</a></li>
  
    <li><a routerLink="/diretivas">Diretivas</a></li>
  
    <li><a routerLink="/if-render">If</a></li>
  
    <li><a routerLink="/eventos">Eventos</a></li>
  
    <li><a routerLink="/emitter">Emmiter</a></li>
  
    <li><a routerLink="/list">Animais</a></li>
  
    <li><a routerLink="/pipes">Pipes</a></li>
  
    <li><a routerLink="/two-way-binding">Two-way</a></li>

    <li><a routerLink="/form">Form</a></li>
  </ul>
</nav>
<section>
  <h3>Seja bem vindo ao Projeto Curso-Angular</h3>
  <p>Este projeto é uma introdução ao Framework Angular</p>  
  <router-outlet></router-outlet>
</section>
<footer>
  GustavoBraun &copy; 2023
</footer>